/* categoria-styles.css */



/* Otros estilos específicos para el menú de categorías */
.custom-categorias .custom-dropdown-toggle::after {
    display: inline-block;
    margin-top: -90px; /* Adjust this value as needed */
    margin-left: 5em; /* Aumenta este valor para mover a la derecha */
    margin-right: -0.3em; /* Ajusta este valor para mantener el espacio total */
    vertical-align: middle;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.custom-categorias .custom-dropdown-toggle {
    border: 2px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px; /* Ajusta la altura según sea necesario */
    font-size: 18px;


}
.custom-categorias .custom-dropdown-menu {
    border: 2px solid #76c697;
    border-top: none;
    box-shadow: none;
    padding: 900;
    width: auto;
    /* right: auto; */
    left: -1000000px;

    position: relative;
    left: 300px; /* Ajusta este valor negativo para contrarrestar el desplazamiento del menú */
}

.custom-categorias {
    position: relative;
    left: -180px; /* Ajusta este valor según sea necesario */
}



