{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block content %}

<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

			<!-- begin post -->
			<div class="authorpostbox">
				<div class="card">
					<a href="#">

						<!--ACA VA LA IMAGEN DEL POST -->
						{% if articulos.imagen %}
						<img src="{{ articulos.imagen.url }}" class="img-fluid img-thumb">
						{% else %}
						<img src="{% static 'default_articulo.jpg' %}" class="img-fluid img-thumb">
						{% endif %}

					</a>
					<div class="card-block">
						<h2 class="card-title"> {{ articulos.titulo | capfirst }}</h2>
						<h2 class="card-title"></a>Resumen:</h2>
						<h4 class="card-text" style="font-size: 18px;">"{{ articulos.resumen | capfirst }}"</h4>
						<h2 class="card-title"></a>Contenido:</h2>
						<h4 class="card-text" style="font-size: 22px;">"{{ articulos.contenido | capfirst }}"</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
									<style>
										.author-thumb {
											width: 80px;
											/* Ajusta el valor según el tamaño deseado */
											height: 80px;
											/* Ajusta el valor según el tamaño deseado */
										}
									</style>

									{% if articulos.autor.imagen %}
									<!-- Mostrar el avatar del artículo si existe -->
									<img class="author-thumb" src="{{ articulos.autor.imagen.url }}">
									{% else %}
									<!-- Mostrar una imagen predeterminada si no hay avatar -->
									<img class="author-thumb" src="{% static 'avatar.jpg' %}">
									{% endif %}

								</span>
								<span class="author-meta">
									<span class="post-name"><a href="#">{{ articulos.autor.username }}</a></span><br />
									<span class="post-date">{{ articulos.publicado | date:"d/m/Y"}} </span></span> <span
									class="post-read"></span>

								<br>
								<a target="_blank"
									style="display: inline-block; padding: 5px 10px; background-color: #ccc; color: #000; text-decoration: none; border: none;">{{articulos.categoria.nombre}}</a>
								<!--<a class="btn follow float-left" style="font-size: 0.7rem;"> {{ articulos.categoria.nombre }}</a>-->
								<br>
							</div>
						</div>
						{% if user.is_superuser or request.user|has_group:"Colaborador" %}
						<div class="container-fluid" style="margin-top: 20px;">
							<a class="btn btn-primary"
								href="{% url 'app.posts:post_update' pk=articulos.id %}">Modificar Artículo</a>
						</div>
						{% endif %}
						{% if user.is_superuser %}
						<div class="container-fluid" style="margin-top: 10px;">
							<a href="{% url 'app.posts:post_delete' pk=articulos.id %}" class="btn btn-danger">Eliminar Artículo</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<!-- end post -->

			<!-- para centrar el texto  -->
			<style>
				.section-title {
					text-align: center;
				}
			</style>

			<section class="featured-posts">
				<div class="section-title">
					<h2><span>Comentarios del Articulo:</span></h2>
				</div>
			</section>

			<!-- End Author Posts ================================================== -->

		</div>
	</div>
	<a id="comentario"></a>


	<style>
		.comment-container {
			border: 1px solid #ccc;
			/* Bordes alrededor del comentario */
			padding: 10px;
			/* Espacio interno del recuadro */
			margin-bottom: 10px;
			/* Espacio entre los comentarios */
		}

		.comment-options a {
			display: inline-block;
			margin-right: 10px;
			color: #000;
			/* Color del texto para enlaces */
			text-decoration: none;
		}

		.comment-options a:hover {
			text-decoration: underline;
			/* Subrayar enlace al pasar el cursor */
		}
	</style>

	<center>
		<div class="container-fluid" style="margin-bottom: 20px;"></div>
		{% for comentario in articulos.comentarios.all %}
		<div class="comment-container container">
			<table>{{ comentario.usuario }} - {{ comentario.fecha }}</table>
			<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
				<div class="comment-text">{{ comentario.texto }}</div>
				<div class="comment-options">
					{% if user.is_authenticated %}
					{% if user == comentario.usuario %}
					<a href="{{comentario.get_editar_link}}">Editar</a>
					{% endif %}
					{% if user == comentario.usuario or user == articulos.usuario %}
					<a href="{{comentario.get_eliminar_link}}">Eliminar</a>
					{% endif %}
					{% endif %}
				</div>
			</ul>
		</div>
		{% empty %}
		<p>No hay comentarios - ¡Puedes ser el primero en comentar!</p>
		{% endfor %}

		<a id="comentario"></a>
		<div class="container-fluid" style="margin-bottom: 100px">
			<form method="POST" style="margin-bottom: 100px; margin-top: 100px;">
				{% csrf_token %}
				{% if user.is_authenticated %}
				<h2>Deja tu comentario</h2>

				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Comentar">
				</form>
				{% else %}
				<h2>Debes iniciar sesion o registrarte para comentar</h2>
				<a class="btn btn-success btn-lg"
					href="{% url 'app.usuario:login' %}?next={{ request.path }}#comentario">Iniciar Sesion</a>
				<input type="hidden" name="next" value="{{ request.path }}">
				{% endif %}
			</form>
		</div>
	</center>




















	<!-- Begin AlertBar ================================================== -->
	<div class="alertbar">
		<div class="container text-center">
			<img src="{% static 'img/logo.jpg' %}" alt="logo"> &nbsp; ¡Un compromiso verde en crecimiento te
			espera! Mantente conectado con la naturaleza:<a href="{% url 'app.contacto:contacto' %}"
				class="btn subscribe">Contactanos</a>
		</div>
	</div>
	<!-- End AlertBar ================================================== -->

	{% endblock %}