<!DOCTYPE html>

{% load static %}
<html lang="es-ar">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static 'img/favicon.png' %}">

	<title>Blog&middot;Tivo</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Custom styles for this template -->
	<link href="{% static 'assets/css/mediumish.css' %}" rel="stylesheet">
	<!--Auxiliar -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom-styles.css' %}">

	{% block styles %}

	{% endblock styles %}

	<style>
		.desplegable-personalizado {
			position: relative;
			display: inline-block;
		}

		.etiqueta-toggle {
			display: block;
			padding: 10px;
			background-color: #f0f0f0;
			border: none;
			cursor: pointer;
		}

		.input-toggle {
			display: none;
		}

		.lista-desplegable {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 150px;
			padding: 0;
			margin: 0;
			list-style: none;
			background-color: #ffffff;
			border: 1px solid #cccccc;
		}

		.elemento-desplegable {
			padding: 8px 12px;
			cursor: pointer;
			transition: background-color 0.2s;
		}

		.elemento-desplegable:hover {
			background-color: #f0f0f0;
		}

		.input-toggle:checked~.lista-desplegable {
			display: block;
		}
	</style>

</head>

<body>
	<header>
		<!-- Begin Nav ========== -->
		<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="container">
				<!-- Begin Logo -->
				<a class="navbar-brand" href="{% url 'index' %}">

					<img src="{% static 'img/logo.jpg' %}" alt="logo">
				</a>
				<!-- End Logo -->


				<div class="collapse navbar-collapse" id="navbarsExampleDefault">

					<!-- Begin Menu -->

					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'quienes_somos' %}">¿Quiénes somos? <span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'app.posts:articulos' %}">Artículos</a>

						</li>
						

						<li class="nav-item">
							<div class="desplegable-personalizado">
								<input type="checkbox" id="toggle-desplegable" class="input-toggle">

								<label for="toggle-desplegable" class="etiqueta-toggle">{% if user.is_authenticated %}
									<p class="custom-dropdown-text">Bienvenid@, {{ user.get_username }}.</p>
									{% else %}
									<p class="custom-dropdown-text">Bienvenid@ Inicia Sesión</p>
									{% endif %}
								</label>
								<ul class="lista-desplegable">
									{% if user.is_authenticated %}
									<li class="elemento-desplegable">
										<form method="post" action="{% url 'app.usuario:logout' %}">
											{% csrf_token %}
											<button type="submit" class="custom-dropdown-button">Cerrar Sesión</button>
										</form>
									</li>
									<li class="elemento-desplegable"><a href="#" class="custom-dropdown-button"> Editar perfil</a></li>

									{% else %}
										
									<li class="elemento-desplegable"><a class="nav-link" href="{% url 'app.usuario:login' %}">Iniciar Sesión</a></li>
									{% endif %}
								</ul>
							</div>
						</li>
						


					</ul>
					<!-- End Menu -->

				</div>
			</div>
		</nav>

		<!-- End Nav ================================================== -->
	</header>
	<main>


		{% block content %}

		{% endblock %}

	</main>
	<!-- Footer-->
	<!-- Begin Footer
	================================================== -->



	<footer class="footer">
		<p class="pull-left">
			Copyright &copy; 2023 BlogTivo
		</p>
	</footer>
	<!-- End Footer ================================================== -->
	<!-- Bootstrap core JavaScript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/tether.min.js' %}"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
	<script src="{% static 'assets/js/mediumish.js' %}"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'assets/js/bootstrap2.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery2.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/lib/wow/wow.min.js' %}"></script>
	<script src="{% static 'assets/lib/easing/easing.min.js' %}"></script>
	<script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>
	<script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>

	<!-- Template Javascript -->
	<script src="{% static 'assets/js/main.js' %}"></script>

	<script src="{% static 'assets/js/menu.js' %}"></script>

	<!-- Auxiliar -->
	<script src="{% static 'assets/js2/popper.min.js' %}"></script>
	<script src="{% static 'assets/js2/bootstrap.min.js' %}"></script>
	<!-- Jquery Mobile Menu -->
	<script src="{% static 'assets/js2/jquery.slicknav.min.js' %}"></script>



	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="{% static 'assets/js2/owl.carousel.min.js' %}"></script>
	<script src="{% static 'assets/js2/slick.min.js' %}"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="{% static 'assets/js2/wow.min.js' %}"></script>
	<script src="{% static 'assets/js2/animated.headline.js' %}"></script>
	<script src="{% static 'assets/js2/jquery.magnific-popup.js' %}"></script>

	<!-- Date Picker -->
	<script src="{% static 'assets/js2/gijgo.min.js' %}"></script>

	<!-- Progress -->
	<script src="{% static 'assets/js2/jquery.barfiller.js' %}"></script>

	<!-- counter , waypoint,Hover Direction -->
	<script src="{% static 'assets/js2/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'assets/js2/waypoints.min.js' %}"></script>
	<script src="{% static 'assets/js2/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'assets/js2/hover-direction-snake.min.js' %}"></script>

	<!-- contact js -->
	<script src="{% static 'assets/js2/contact.js' %}"></script>
	<script src="{% static 'assets/js2/jquery.form.js' %}"></script>
	<script src="{% static 'assets/js2/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/js2/mail-script.js' %}"></script>
	<script src="{% static 'assets/js2/jquery.ajaxchimp.min.js' %}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="{% static 'assets/js2/plugins.js' %}"></script>
	<script src="{% static 'assets/js2/main.js' %}"></script>

	{% block scripts %}

	{% endblock scripts %}

</body>

</html>